.video-container {
  width: 90%;
  height: 16rem;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 4px 4px 6px 5px rgba(0, 0, 0, 0.1);
  gap: 2rem;
}

.video-container img {
  width: var(--container-width-large);
  height: 16rem;
  border-radius: 20px 0px 0px 20px;
}

.video-container p {
}

h2 {
  font-size: 42px;
  letter-spacing: 0.01px;
}
