.video-container{
     width: 90%;
     display: flex;
     flex-direction: row;
     background-color: rgba(90, 88, 88, 0.479);
     padding: 1.8rem;
     gap: 2rem;

}

.video-container img{
    width: var(--container-width-large);
    border-radius: 1rem;
}