.form-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 55vw;
  height: 100vh;

  padding: 1rem 1rem;
  gap: 0.5rem;

  background-color: var(--color-primary);
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 6rem 4rem;
  gap: 2.5rem;
}

.form-content h3 {
  font-size: 42px;
  color: white;
  align-self: center;
  margin: 3rem 0;
}

.form-content button {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-grey-black);
  width: 10rem;

  border-radius: 0.4rem;
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: white;

  border: 0px;
}

.form-content button:hover {
  cursor: pointer;
  box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.15);
  background-color: var(--color-grey-light);
}
.form-content button:active {
  background-color: white;
}

.text-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5rem;
  column-gap: 2rem;
}
