.error-m {
  color: white;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  left: 4px;
  bottom: -1.8rem;
}

textarea {
  background-color: white;
  padding: 0.2rem;
  font-size: 1.2rem;
}

.t {
  grid-column: 1 / -1;
}

.text-field-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  gap: 2rem;
}
.text-field-content input {
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  background-color: white;
  border: 0px;
  font-size: 1.2rem;
}
