.shop-container {
  margin: 6.5rem 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 0px 0px 20px 20px;
  height: 3rem;
  width: 12rem;
  padding-bottom: 0.2rem;
  margin-top: -0.4rem;
  font-weight: 900;
  color: white;
  position: fixed;
  top: 0;
  left: 20rem;
  background-color: var(--color-primary);

  -webkit-transition: all 0.12s ease-in;
  transition: all 0.12s ease-in;
}

.expanded {
  height: 3.8rem;
  width: 32rem;
  border-radius: 0px 0px 20px 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.expanded-content {
  display: flex;
  flex-direction: row;
}

.page-container {
  margin-left: var(--container-side-margin);
  margin-right: var(--container-side-margin);
}

.model-list-item {
  border-radius: 15px;
  padding: 0.1rem 0.2rem;
}

.model-list-item p :hover {
  color: var(--color-gray-black);
}

.model-list-item p {
  font-weight: 600;
  font-size: 18px;
  padding: 0 0.2rem;
}

.model-list-item:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
}

.selected-option {
  margin-top: 0.4rem;
  font-weight: 600;
  font-size: 18px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.selected-option:hover {
  cursor: pointer;
}

.wrapper {
  padding-top: 1rem;
  padding-left: 4rem;

  position: fixed;
  top: 0;
  left: 0;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0px 0px 20px 20px;
    height: 3rem;
    width: 100vw;
    padding-bottom: 0.2rem;

    font-weight: 900;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary);

    -webkit-transition: all 0.12s ease-in;
    transition: all 0.12s ease-in;
  }

  .expanded {
    height: 18rem;
    width: 100vw;
    border-radius: 0px 0px 20px 20px;
    padding-left: 2rem;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .expanded-content {
    display: flex;
    flex-direction: row;
  }

  .selected-option {
    margin-top: 0.4rem;
    padding: 0.3rem 2rem;
    gap: 0rem;

    font-size: 24px;
  }

  .model-list-item {
    border-radius: 15px;
    padding: 0rem 0.2rem;
  }

  .model-list-item p {
    font-weight: 600;
    font-size: 22px;
    padding: 0rem 0.5rem;
  }
}
