.btn-area {
  display: flex;
  justify-content: space-between;

  margin-top: 3rem;
}

.btn-area button {
  font-size: 22px;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  
}

.btn-backToCart {
  color: var(--color-primary);
  border : 1px solid var(--color-primary);
  font-weight: 500;
}

.btn-backToCart:hover {
  cursor: pointer;
  background-color: var(--color-grey-light);
  box-shadow: -2px 2px 4px 2px rgba(0,0,0,0.1);
}

.btn-toCheckout {
  background-color: var(--color-primary);
  color: white;
  border: 0px
}
.btn-toCheckout:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
  box-shadow: -2px 2px 4px 2px rgba(0,0,0,0.1);
}
