.checkout-card {
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: auto;
  margin-top: 8rem;
  padding: 2rem 3rem 4rem 3rem;
  border-radius: 20px;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.card-container h3 {
  font-size: 28px;
  align-self: center;
}
