.payment-form h5 {
  margin-top: 4rem;
}

.payment-stripe-comp {
  height: 4rem;
}
.pay-section {
  display: flex;
  justify-content: space-between;
}

.pay-section button {
  font-size: 20px;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  border: 0px;
}
.pay-section button:hover {
  cursor: pointer;
  filter: brightness(110%);
}
.pay-section button:active {
  filter: brightness(90%);
}
.complete-payment-btn {
  border: 0px;
  background-color: var(--color-primary);
  color: white;
  padding: 0.2rem 0.4rem;
}

.abort-payment-btn {
  background-color: var(--color-grey-dark);
  color: white;
  width: 6rem;
}
