.fixed-nav {
  width: max-content;
  padding: 1rem 1rem 0.2rem 0;

  position: fixed;
  top: -0.5rem;
  right: 0;

  z-index: 2;

  border-radius: 0 0 0 15px;
  box-shadow: -3px 3px 6px 3px rgba(0, 0, 0, 0.18);

  background-color: rgba(255, 255, 255, 0.7);
  gap: 2.5rem;
  display: flex;
}

.a p {
  margin-top: 0.5rem;
  font-size: 16px;
}

.fixed-nav .a {
  font-size: 1.2rem;
  background-color: transparent;
  margin-bottom: -0.8rem;
  border-radius: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  color: var(--color-primary-dark);
}

.fixed-nav .a:hover {
  color: var(--color-primary-light);
}
.fixed-nav .active {
  color: var(--color-grey-black);
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  height: 2rem;
  width: 100%;

  padding: 1.2rem 0;
  font-size: 22px;
  background-color: var(--color-primary-dark);
  color: white;

  display: flex;
  justify-content: space-evenly;

  z-index: 5;
  margin-bottom: -0.1rem;
}

.mobile-nav .a {
  color: white;
  font-size: 2rem;
  border-radius: 30px;
}

.mobile-nav .active {
  box-shadow: -1px 1px 3px 2px rgba(0, 0, 0, 0.18);
}

.outer-basket {
  padding: 1rem;
  font-size: 22px;
  border-radius: 50px;
  background-color: var(--color-primary-dark);
  color: white;
}
.outer-basket:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.18);
}
.positioning-class {
  padding: 0 1.5rem 1.5rem 0rem;
}
.wrapper-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

.badge {
  position: absolute;
  margin-left: -1.3rem;
  margin-top: -0.25rem;
  top: 0;
  border-radius: 20px;
  padding: 0.2rem 0.45rem;
  background-color: var(--color-grey-black);
  color: var(--color-primary-light);
}

.logo {
  position: absolute;
  top: 0;
  left: 1.5rem;

  margin-top: 1rem;
  margin-left: 0.8rem;
  width: 10rem;

  z-index: 3;
}

@keyframes slidein-low {
  from {
    top: 0;
  }

  to {
    top: 90%;
  }
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

  .outer-basket {
    padding: 0;
    font-size: 2rem;
    border-radius: 50px;
    background-color: var(--color-primary-dark);
    color: white;
  }

  .positioning-class {
    padding: 0 0 0 0rem;
  }
  .wrapper-bottom {
    position: static;
  }
}
