.fixed-nav {
  width: 100%;
  padding: 1rem 1rem 0.2rem 3rem;

  position: fixed;
  top: -0.5rem;
  left: 66%;
  z-index: 2;

  border-radius: 0 0 0 15px;
  box-shadow: -3px 3px 6px 3px rgba(0, 0, 0, 0.18);

  background-color: rgba(255, 255, 255, 0.7);
  gap: 2.5rem;
  display: flex;
}

.a p {
  margin-top: 0.5rem;
  font-size: 16px;
}

.fixed-nav .a {
  font-size: 1.2rem;
  background-color: transparent;
  margin-bottom: -0.8rem;
  border-radius: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  color: var(--color-primary-dark);
}

.fixed-nav .a:hover {
  color: rgb(0, 0, 0);
}
.fixed-nav .active {
  color: rgb(0, 0, 0);
}

@keyframes slidein-low {
  from {
    top: 0;
  }

  to {
    top: 90%;
  }
}
