@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #ffffffcb;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container{
  margin-top: 5rem;
}

:root{
 
  --container-width-small: 20vh;
  --container-width-medium: 40vh;
  --container-width-large: 60vh;
  --container-width-xlarge: 80vh;
}