.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 120vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  top: 8%;
  width: 80%;
  height: 75%;
  left: 7.5%;
  background-color: white;
  padding: 2%;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: scroll;
  z-index: 20;
  animation: slide-down 400ms ease-out forwards;
}

@media (max-width: 600px) {
  .modal {
    width: 100vw;
    padding: 0%;
    left: 0;
    border-radius: 0;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
